<h1>Settings</h1>
<form [formGroup]="settingsForm" (ngSubmit)="saveSettigns()">  
    <div class="group">
        <label for="max-frets">Number of frets: </label>  
        <input id="max-frets" type="text" formControlName="maxFrets">  
    </div>
    <div class="group">
        <label for="only-natural-notes">Only natural notes</label>  
        <input id="only-natural-notes" type="checkbox" formControlName="onlyNaturalNotes">  
    </div>
    <div class="group">
        <label for="timer">Time limit (min): </label>  
        <input id="timer" type="text" formControlName="timer">  
    </div>

    <div class="group">
        <label for="accuracy">Accuracy (+/- Hz): </label>  
        <input id="accuracy" type="text" formControlName="accuracy">  
    </div>

    <div class="group">
        <label for="debug">Show debug: </label>  
        <input id="debug" type="checkbox" formControlName="debug">  
    </div>
    <button type="submit">Done</button>
</form>