<h1>Settings</h1>
<form [formGroup]="settingsForm" (ngSubmit)="saveSettigns()">  
    <div class="group">
        <label for="max-frets">Number of frets (max 22): </label>  
        <input id="max-frets" type="text" formControlName="maxFrets">  
    </div>
    <div class="group">
        <label for="only-natural-notes">Only natural notes:</label>  
        <input id="only-natural-notes" type="checkbox" formControlName="onlyNaturalNotes">  
    </div>
    <div class="group">
        <label for="timer">Time limit (min): </label>  
        <input id="timer" type="text" formControlName="timer">  
    </div>

    <div class="group">
        <label for="from-string">From string (1-6):</label>  
        <input id="from-string" type="text" formControlName="fromString">  
    </div>
    
    <div class="group">
        <label for="to-string">To string (1-6):</label>  
        <input id="to-string" type="text" formControlName="toString">  
    </div>

    <div class="group">
        <label for="accuracy" title="Increase this value if your notes aren't detected correctly (can cause false positive detection)">Accuracy (+/- Hz): ❓</label>  
        <input id="accuracy" type="text" formControlName="accuracy">  
    </div>
    <div class="group">
        <label for="sound">Play sounds: </label>  
        <input id="sound" type="checkbox" formControlName="playSounds">  
    </div>
    <div class="group">
        <label for="debug">Show debug: </label>  
        <input id="debug" type="checkbox" formControlName="debug">  
    </div>
    @if(errorMessage) {
        <div class="error">
            {{errorMessage}}
        </div>
    }
    <button class="clickable" type="submit">Done</button>

    <button class="clickable grey" type="button" (click)="resetSettings()">Reset Settings</button>

</form>