:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    min-width: 20rem;
    margin-top: 2rem;
    .group {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        max-width: 20rem;
    }

    button {
        margin-top: 2rem;
        width: 100%;
        background-color: #69b87a;
        color: white;
        border: 0;
        border-radius: 4px;
        filter: drop-shadow(4px 3px 2px gray);

        &.grey {
            background-color: lightgray;
            color: black;
        }
    }


    .ng-invalid {
        border-color: lightcoral;
    }

    .error {
        background-color: lightcoral;
        color: white;
        padding: 1rem;
        margin-top: 1rem;
    }
}

@media (pointer: coarse), (hover: none) {
    [title] {
      position: relative;
    }
    [title]:focus::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: #000;
      background-color: #fff;
      border: 1px solid;
      width: fit-content;
      padding: 3px;
    }
  }
