.settings-button {
    position: absolute;
    right: 0;
    padding: 1rem;
    font-size: 2rem;
    opacity: 0.75;
    text-decoration: none;
    color: #69b87a;;
    &:hover {
        opacity: 1;
        
    }
}

.toolbar  {
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
        .seconds {
            width: 4rem;
            text-align: end;
        }
        h1 {
            text-align: center;
            .grey {
                color: lightgray
            }
        }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;

    .start-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #69b87a;
        border-radius: 100%;
        height: 4rem;
        width: 4rem;
        color: #fff;
        filter: drop-shadow(4px 3px 2px gray);
    }
}



.fretboard {    
    display: flex;
    justify-content: center;
    table {
        background-color: wheat;

        border-collapse: collapse;
        
    
        td {
        
    
            .cell.dot:after {
                content: '•';
                font-size: 4rem;
                text-align: center;
                display: block;
                width: 2.5rem;
                padding: 0.5rem 0.125rem;
                opacity: 0.5;

            }

            border-right: 6px solid rgba(128, 128, 128, 0.185);

            &:first-child {
                border-right: 16px solid ivory;
                .string {
                    width:calc(100% + 16px);
                }
            }

            width: 60px;        
            position: relative;
            .string {
                width:calc(100% + 6px);
                height:0;
                border-bottom: 1px solid rgba(17, 34, 17, 0.644);
                box-shadow: 0 9px 5px -1px gray;
                float:left;
                margin:0;
                position:absolute;
                display: block;
                z-index:1;
                top:50%;
                left:0;
                
                &.active {
                    border-color: red;
                    box-shadow: 0 9px 5px -1px red;

                }

                &.string-2 {
                    border-width: 2px;
                }

                &.string-3 {
                    border-width: 3px;
                }
                &.string-4 {
                    border-width: 3px;
                }
                &.string-5 {
                    border-width: 4px;
                }
                &.string-6 {
                    border-width: 4px;
                }
            }
            
            .cell {
                width: 2rem;
                height: 2rem;
                margin: 0.5rem;

                .note {
                    width: 2rem;
                    height: 2rem;
                    box-sizing: initial;
    
                    background: #fff;
                    border: 0.1em solid #666;
                    color: #666;
                    text-align: center;
                    border-radius: 50%;    
    
                    line-height: 2em;
                    box-sizing: content-box;  
                    z-index: 1000;
                    position: absolute;
                    visibility: hidden;
        
                    &.active {
                        background-color: green;
                        color: #fff;
                        visibility: visible;
                    }
                }
            }
            
        }
    }
}


.played-frequency {
    position: absolute;
    bottom: 0;
    color: gray;
}

@media only screen and (max-width: 950px) {
    .fretboard {
        transform: scale(0.5);
    }
}