@if(!searched()) {
    <a [routerLink]="['/settings']" class="settings-button">
      🔧
    </a>
}
<div class="toolbar">
    @if(searched(); as search) {
  
      <div class="correct">{{correct}}</div>
      <div class="search">
        <h1>{{search.note}} <br> {{search.string}} 
        
          @if(search.fret > 11) {
            <span class="grey">12+</span> 
          }
        </h1>
      </div>
      <div >
        {{((timeElapsed$ | async) ?? 0) * 1000 | date:'mm:ss' }}
      </div>
  
    } @else {
      <div (click)="showNotes = !showNotes" class="clickable">Toggle notes</div>
      <div class="clickable start-button" (click)="start()">Start</div>
      <div>
       Time: {{timer}} min
        <br>
        @if (correct) {
        Correct: {{( correct) | number : '1.0-0' }}
        }
      </div>
    }
  </div>
  
  <div class="fretboard">
    <table>
      @for(string of stringNames; let row = $index; track string) {
        <tr>
          @for(note of notes[string] | slice : 0 : maxFrets + 1; let column = $index; track note) {
            <td [class.active]="searched()?.string">
              <div class="cell" [class.dot]="getDots(row, column)">
                <span class="string" [class]="'string-' + (row+1)" [class.active]="getActiveString(row+1, column)"></span>
                <div class="note" [attr.data-string]="row" [attr.data-fret]="column" [class.active]="showNotes || found()?.string === row + 1 && found()?.fret === column">{{note.note[0]}}</div>
              </div>
             
            </td>
        }
        </tr>
      }
    </table>
  </div>

  @if(!searched()) {
    @if(highscores()?.length && highscores(); as highscores) {
      <div class="highscores">
      <h1>Highscores</h1>

        <table>
        <tr>
          <th>Place</th>
          <th>Correct notes played</th>
          <th>Time</th>
        </tr>
        @for(highscore of highscores; let index = $index; track highscore) {
          <tr [class.latest]="highscore.date === lastPlayed">
            <td>{{index + 1}}</td>
            <td>{{highscore.correct}}</td>
            <td>{{highscore.time}} min</td>
          </tr>
        }
        </table>

      </div>
    }
   
    <div class="info">
      <h1>How to play</h1>
      <ul>
        <li>
          Make sure your guitar is in tune
        </li>
        <li>Play the note on the string displayed at the top of the page</li>
      </ul>
      <p>The app monitors your microphone and detects if you play the correct note.</p>
      <p>The threshold for detection can be adjusted in the settings.</p>
    
    </div>
  }

  
  <div class="played-frequency">
    @if(debug && searched(); as search) {
        {{search | json }} <br>
        Played frequency {{played}}
    }
  </div>
  